<div class="bg-gray-200 h-screen">
  <nav class="p-1">
    <div class="w-20">
        <ul class="list-group">
            <li class="text-center py-2">
              <a routerLink="/" class="no-underline">
                <i class="fa fa-home text-xl w-full block" aria-hidden="true"></i>
                <span>Home</span>
              </a>
            </li>
            <li class="text-center py-2">
              <a routerLink="/dashboard" class="no-underline">
                <i class="fa fa-tachometer text-2xl w-full block" aria-hidden="true"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="text-center py-2">
              <a routerLink="/setting" class="no-underline">
                <i class="fa fa-cog text-2xl  w-full block" aria-hidden="true"></i>
                <span>Setting</span>
              </a>
            </li>
            <!-- <li class="py-1">
              <a ><i class="bi bi-house-door-fill fs-1"></i></a>
            </li> -->
        </ul>
    </div>
  </nav>
 <!-- <div class="sidebar-footer">
   dddd
  </div> -->
    
</div>
